.price-box {
border-radius: 10px;
width: 280px;
height: 625px;
}

.ui-widget-content {
color:#D5DDE5;;
background:#1b1e24;
border-bottom:4px solid #9ea7af;
border-right: 1px solid #343a45;
margin-top: 4px;
}


.ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 5.2em;
height: 1.8em;
cursor: default;
margin: 0 -40px auto !important;
text-align: center;
line-height: 30px;
color: #FFFFFF;
font-size: 15px;
}

.ui-slider .ui-slider-handle .glyphicon {
color: #FFFFFF;
}

.ui-corner-all {
border-radius: 10px;
}

.ui-slider-horizontal .ui-slider-handle {
top: -.9em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
color: #fff;
background-color: #337ab7;
border-color: #2e6da4;
}

.ui-slider-horizontal .ui-slider-handle {
margin-left: -0.2em;
}

.ui-slider a,
.ui-slider a:focus {
cursor: pointer;
outline: none;
}



h4.great {
margin: 0 0 25px -70px;
padding: 7px 15px;
color:#D5DDE5;;
background:#1b1e24;
border-bottom:4px solid #9ea7af;
border-right: 1px solid #343a45;
font-size: 13px;
border-radius: 5px;
display: inline-block;
}


.price-slider {
margin-bottom: 70px;
width: 250px;
height: 45px;
}

.price-slider span {
font-weight: 200;
display: inline-block;
color: #7f8c8d;
font-size: 13px;
}

.form-horizontal.form-pricing {
width: 280px;
height: 620px;
}

.form-pricing {
background: #ffffff;
padding: 20px;
border-radius: 10px;
}

.ui-slider-range-min {
background: #2370D5;
}
#table{
    color:#ffffff;
}

#imgInLine  {
display: inline;
max-width: 100%;
height: auto;
}

#imgInLine2  {
display: inline;
max-width: 100%;
height: auto;
}

#imgInLine3  {
display: inline;
max-width: 100%;
height: auto;
}

#imgInLine4  {
display: inline;
max-width: 100%;
height: auto;
}

#imgInLine5  {
    display: inline;
    max-width: 100%;
    height: auto;
}

#imgInLine6  {
    display: inline;
    max-width: 100%;
    height: auto;
}

#imgInLine7  {
    display: inline;
    max-width: 100%;
    height: auto;
}