body {
    background: url("../images/resized-new.jpg") no-repeat center center fixed;/* Цвет фона */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-right{
    text-align: right;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
.answer {
    color: #ffffff;
}
.answer:hover {
    color: #ffffff;
}

.show {
    display: block;
}

.hide {
    display: none;
}
.wrong {
    background-color: #FFA07A;
    color: Firebrick;
}
.wrong:hover {
    background-color: #FFA07A;
    color: Firebrick;
}
.correct{
    background-color: #9AFF9A;
    color: #008B00;
}
.correct:hover{
    background-color: #9AFF9A;
    color: #008B00;
}

.textJustify{
    text-align: justify;
}

.page {
    min-height:100%;
    position:relative;
}

.whiteback{
    background: #f5f5f5;
    border-radius: 15px;
}
.blackback{
    background: rgba(0, 0, 0, 0.45);
    border-radius: 15px;
    color:#ffffff;
}
.blackback th, .blackback td{
    color: #ffffff;
}

.errpg {
    text-align: center;
}

.errpg img {
    max-height: 450px;
    max-width: 450px;
}
.errpg h1 {
    display: inline-block;
    padding: 10px 20px;
}
.error.form-control{
    color: #a94442;
    font-style: oblique;
    font-weight: 600;
}
.error.form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.error.form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.content {
    padding:10px;
    padding-bottom:20px; /* Height of the footer element */
    overflow:hidden;
}
.menu {
    padding:50px 10px 0px 10px;
    width:200px;
    float:left;
}

.body {
    margin:50px 10px 0px 250px;
}
.footer {

   height:25px;
  margin-bottom:auto;
  text-align: center;

    padding: 5px; /* Поля вокруг текста */
    opacity: 0.7; /* Значение прозрачности */
    filter: alpha(Opacity=80); /* Прозрачность в IE */
}

#contentText {
    color: #ffffff;
}

#MenuText {
    color: #ffffff;
}

.roleMenu {
    width: 220px;
}

.error {
    color:red;
    font-style: italic;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

.search input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left: 210px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius: 1px;
}

.search:hover input, .search input:focus {
    width: 200px;
    margin-left: 0px;
}
.allcars{
    color:#ffffff;
}
.allcars table{
    width: 100%;
    vertical-align: middle;
}
.allcars table th {
    height: 32px;
    color: #ffffff;
}
.allcars h1 {
    margin-top: 0;
}
.allcars .thumbnailhover {
    position:relative;
    overflow:hidden;
}
.allcars .caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.3);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff;
    z-index:2;
}
.allcars .row{
    border-radius: 15px;
}
.allcars .row:hover{
    background:rgba(0, 0, 0, 0.45);
}
#imgInLineLogo  {
    display: inline;
}
#imgInLineLogo2 {
    display: inline;
}
.headerbar a {
    font-size: 14px;
}
#locations a{
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
}
.zeropadding{
    padding: 0;
}
.zerotopmargin{
    margin-top: 0;
}
#map_canvas {
    height: 450px;
    width: auto;
    border-radius: 10px;
}

#imgInLine8{
    display: inline;
    max-width: 100%;
    height: auto;
}

#imgInLine9{
    display: inline;
    max-width: 100%;
    height: auto;
}


.alltikets{
    color:#ffffff;
}
.alltikets table{
    width: 100%;
    vertical-align: middle;
}
.alltikets table th {
    height: 32px;
    color: #ffffff;
}
.alltikets h1 {
    margin-top: 0;
}


.alltikets .row{
    border-radius: 15px;
}

.alltikets table tr{
    padding: 8px;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

.testImages {
    align:"center" ;
    height:300;
    width:750;
    display: inline;
    max-width: 100%;
    max-high: 100%;
}

a.list-group-item.active:hover, a.list-group-item.active:focus {
    color: #555;
    background-color: #99bddb;
    cursor: hand;
}

.panel-primary > .panel-heading {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}