/*.typeahead,*/
/*.tt-query,*/
/*.tt-hint {*/
/*width: 300px;*/
/*height: 30px;*/
/*padding: 8px 12px;*/
/*font-size: 24px;*/
/*line-height: 30px;*/
/*border: 2px solid #ccc;*/
/*-webkit-border-radius: 8px;*/
/*-moz-border-radius: 8px;*/
/*border-radius: 8px;*/
/*outline: none;*/
/*}*/

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
    cursor: pointer;
}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
    text-align: right;
}

#messageField .tt-dropdown-menu {
    max-height: 150px;

}

#messagesTable {
    background-color: #fff;
    color: #0077cc;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #d2d2d2;
    table-layout: fixed
}

#messagesTable thead {
    background-color: #f2f3f3;
    cursor: default;
    border: 0px solid #d2d2d2;
    font-weight: lighter;
}

#messagesTable tr:hover {
    background-color: #F9F3BC;
}

.radio, .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

#messagesTable .message {
     color: #c0c0c0;
}

#messagesTable .theme {
    color: #0077cc;
    overflow: hidden;
}

#messagesTable .deletecheckbox {
    background-color: #DEE0FB;
}

#messagesTable .newmessage {
    font-weight: bold;
    background-color: #EEF1FE;
}

#messagesTable td {
    white-space: nowrap;
}

td .dateofmessage {
    text-align: right;
}
