/* the important bits */
.roadsigns li {
    -webkit-perspective: 400px;
    perspective: 400px;
}

.roadsigns .info {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
    transform: rotate3d(1, 0, 0, 90deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.95);
}

.roadsigns .in-top .info {
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-animation: in-top 300ms ease 0ms 1 forwards;
    animation: in-top 300ms ease 0ms 1 forwards;
}

.roadsigns .in-right .info {
    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-animation: in-right 300ms ease 0ms 1 forwards;
    animation: in-right 300ms ease 0ms 1 forwards;
}

.roadsigns .in-bottom .info {
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-animation: in-bottom 300ms ease 0ms 1 forwards;
    animation: in-bottom 300ms ease 0ms 1 forwards;
}

.roadsigns .in-left .info {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-animation: in-left 300ms ease 0ms 1 forwards;
    animation: in-left 300ms ease 0ms 1 forwards;
}

.roadsigns .out-top .info {
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-animation: out-top 300ms ease 0ms 1 forwards;
    animation: out-top 300ms ease 0ms 1 forwards;
}

.roadsigns .out-right .info {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-animation: out-right 300ms ease 0ms 1 forwards;
    animation: out-right 300ms ease 0ms 1 forwards;
}

.roadsigns .out-bottom .info {
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-animation: out-bottom 300ms ease 0ms 1 forwards;
    animation: out-bottom 300ms ease 0ms 1 forwards;
}

.roadsigns .out-left .info {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-animation: out-left 300ms ease 0ms 1 forwards;
    animation: out-left 300ms ease 0ms 1 forwards;
}

@-webkit-keyframes in-top {
    from {
        -webkit-transform: rotate3d(-1, 0, 0, 90deg);
        transform: rotate3d(-1, 0, 0, 90deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@keyframes in-top {
    from {
        -webkit-transform: rotate3d(-1, 0, 0, 90deg);
        transform: rotate3d(-1, 0, 0, 90deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}
@-webkit-keyframes in-right {
    from {
        -webkit-transform: rotate3d(0, -1, 0, 90deg);
        transform: rotate3d(0, -1, 0, 90deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}
@keyframes in-right {
    from {
        -webkit-transform: rotate3d(0, -1, 0, 90deg);
        transform: rotate3d(0, -1, 0, 90deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}
@-webkit-keyframes in-bottom {
    from {
        -webkit-transform: rotate3d(1, 0, 0, 90deg);
        transform: rotate3d(1, 0, 0, 90deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}
@keyframes in-bottom {
    from {
        -webkit-transform: rotate3d(1, 0, 0, 90deg);
        transform: rotate3d(1, 0, 0, 90deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}
@-webkit-keyframes in-left {
    from {
        -webkit-transform: rotate3d(0, 1, 0, 90deg);
        transform: rotate3d(0, 1, 0, 90deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}
@keyframes in-left {
    from {
        -webkit-transform: rotate3d(0, 1, 0, 90deg);
        transform: rotate3d(0, 1, 0, 90deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}
@-webkit-keyframes out-top {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        -webkit-transform: rotate3d(-1, 0, 0, 104deg);
        transform: rotate3d(-1, 0, 0, 104deg);
    }
}
@keyframes out-top {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        -webkit-transform: rotate3d(-1, 0, 0, 104deg);
        transform: rotate3d(-1, 0, 0, 104deg);
    }
}
@-webkit-keyframes out-right {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        -webkit-transform: rotate3d(0, -1, 0, 104deg);
        transform: rotate3d(0, -1, 0, 104deg);
    }
}
@keyframes out-right {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        -webkit-transform: rotate3d(0, -1, 0, 104deg);
        transform: rotate3d(0, -1, 0, 104deg);
    }
}
@-webkit-keyframes out-bottom {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        -webkit-transform: rotate3d(1, 0, 0, 104deg);
        transform: rotate3d(1, 0, 0, 104deg);
    }
}
@keyframes out-bottom {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        -webkit-transform: rotate3d(1, 0, 0, 104deg);
        transform: rotate3d(1, 0, 0, 104deg);
    }
}
@-webkit-keyframes out-left {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        -webkit-transform: rotate3d(0, 1, 0, 104deg);
        transform: rotate3d(0, 1, 0, 104deg);
    }
}
@keyframes out-left {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        -webkit-transform: rotate3d(0, 1, 0, 104deg);
        transform: rotate3d(0, 1, 0, 104deg);
    }
}
/* you can ignore this ones */
.roadsigns ul {
    padding: 0;
    margin: 0 0 50px;
}
.roadsigns ul:after {
    content: "";
    display: table;
    clear: both;
}
.roadsigns li {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 0;
    list-style: none;

}
.roadsigns li img{
    max-width: 200px;
    max-height: 200px;
}
.roadsigns li a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    border-radius: 4px;
}
.roadsigns li h3 {
    margin: 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
}
.roadsigns li p {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
}
.roadsigns li .normal {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    line-height: 200px;
    pointer-events: none;
}
* {
    box-sizing: border-box;
}
.roadsigns h1{
    display: inline-block;
    padding: 10px;
}
.roadsigns {
    width: 80%;
    max-width: 840px;
    margin-left:auto;
    margin-right:auto;
}